<div class="jumbotron text-center">
    <h1 class="display-4">Blockchain Immigration</h1>
    <p class="lead">An application to streamline the immigration procedure using Ethereum block-chain technology.</p>
    <hr class="my-4">
    <p>Please select your role.</p>
    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/applicant"
               routerLinkActive="active">Applicant</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/verifier"
               routerLinkActive="active">Verifier</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/immigration"
               routerLinkActive="active">Administrator</a>
        </div>
    </div>
</div>
