<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/immigration/{{ethAddress}}/visas" class="list-group-item">Visas</a>
      <a href="/immigration/{{ethAddress}}/applications" class="list-group-item">Applications</a>
      <a href="/immigration/{{ethAddress}}/verifiers" class="list-group-item">Verifiers</a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="row">
        <div class="col-lg">
          <h2>Welcome {{ethAddress}} - {{role}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let verifier of verifiers">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{verifier.address}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <i class="fab fa-google-plus-circle"></i>
          <div class="card-body">
            <button type="button" class="btn btn-primary" (click)="onAddClick()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
