<div class="row">
  <div class="col-lg">
    <h2>Welcome {{ethAddress}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/applicant/{{ethAddress}}/documents" class="list-group-item">Documents</a>
      <a href="/applicant/{{ethAddress}}/applications" class="list-group-item">Applications</a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-4" *ngFor="let artifact of artifacts">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{artifact.tx}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="glyphicons glyphicons-plus-sign">
          <div class="card-body">
            <button type="button" class="btn btn-primary" (click)="onUploadClick()">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
