<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/coin.svg" width="40" height="40" alt="Blockchain Immigration">
        Blockchain Immigration
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)">{{ethAddress}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)">{{role}}</a>
            </li>
        </ul>
    </div>
</nav>
