<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/immigration/{{ethAddress}}/visas" class="list-group-item">Visas</a>
      <a href="/immigration/{{ethAddress}}/applications" class="list-group-item">Applications</a>
      <a href="/immigration/{{ethAddress}}/verifiers" class="list-group-item">Verifiers</a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="row">
        <div class="col-lg">
          <h2>Welcome {{ethAddress}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4" *ngFor="let application of applications">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{application.tx}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button class="btn btn-primary">Approve</button>
            <button class="btn btn-danger">Disapprove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
